name: Terraform Lint and Scan
on:
    workflow_dispatch:
    pull_request:
        paths:
            - 'terraform/**'

permissions:
    contents: read
    pull-requests: write

jobs:
    Lint:
        name: Lint
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: terraform
        steps:
            - name: Checkout code
              uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
            
            - name: Cache Plugin Directory
              uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
              with:
                path: ~/.tflint.d/plugins
                key: ${{ runner.os }}-tflint-${{ hashFiles('terraform/.tflint.hcl') }}

            - name: Set up TFlint
              uses: terraform-linters/setup-tflint@4cb9feea73331a35b422df102992a03a44a3bb33 # v6.2.1
              with:
                tflint_version: v0.57.0
            - name: Show version
              run: tflint --version
            
            - name: Init TFlint
              run: tflint --init
              env:
                GITHUB_TOKEN: ${{ github.token }}

            - name: Run TFlint
              run: tflint --recursive -f compact
    Scan:
        name: Scan
        runs-on: ubuntu-latest
        defaults:
            run:
                  working-directory: terraform
        steps:
            - name: Checkout code
              uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

            - name: Trivy Scan
              uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
              with:
                scan-type: "config"
                severity: "HIGH,CRITICAL"
                scan-ref: "."
                output: trivy-scan-result.txt

            - name: Format Trivy Scan Result
              run: |
                if [ -s trivy-scan-result.txt ]; then
                    echo "## Trivy Scan Results" > trivy-result.md
                    echo "" >> trivy-result.md
                    echo "### High and Critical Severity Issues" >> trivy-result.md
                    echo "" >> trivy-result.md
                    cat trivy-scan-result.txt | grep -E 'HIGH|CRITICAL' >> trivy-result.md
                else
                    echo "No High or Critical severity issues found." > trivy-result.md
                fi

            - name: Comment PR with Trivy scan results
              uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405 # v2.9.4
              with:
                recreate: true
                GITHUB_TOKEN: ${{ secrets.github_token }}
                path: terraform/trivy-result.md
                
